<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>Armadillo</title>
      <meta name="description" content="An inter-device HTML game framework. Use your mobile device as a controller for any HTML game. Visit Dillo.cc for a working demo or fork on Github and see what you can do with it.">
      <meta property="og:url" content="http://dillo.cc" />
      <meta property="og:title" content="Armadillo | An inter-device HTML game framework" />
      <meta property="og:site_name" content="Armadillo"/>
      <meta property="og:description" content="Use your mobile device as a controller for any HTML game. Visit Dillo.cc for a working demo or fork on Github and see what you can do with it."/>
      <meta property="og:type" content="Framework demo" />
      <meta property="fb:app_id" content="567371524" />
      <meta name="robots" content="index, follow">
      <meta property="article:author" content="https://wietsedevries.eu" />
      <meta property="article:publisher" content="https://dillo.cc" />
      <meta property="og:image" content="http://dillo.cc/assets/css/images/armadillo-framework.png" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="assets/css/main.min.css" type='text/css'/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script>
        var offset;
      </script>
  </head>
  <body>
      <!-- This section is visible on the hosting device (desktop/laptop) -->
      <section id="host" style="display:none">
          <div class="container">

              <h1 class="logo">Armadillo.js | An inter-device HTML game framework</h1>

              <div id="menu">
                  <nav>
                      <ul>
                          <li><a href="#" id="play"><div class="bulletHole"></div>Play Demo</a></li>
                          <li><a href="https://github.com/wietsedevries/armadillo#getting-started"><div class="bulletHole"></div>Documentation</a></li>
                          <li><a href="https://github.com/wietsedevries/armadillo/archive/master.zip"><div class="bulletHole"></div>Download</a></li>
                          <li><a href="https://github.com/wietsedevries/armadillo#credits"><div class="bulletHole"></div>Credits</a></li>
                      </ul>
                  </nav>
              </div>
              <!-- This div will show the generated connection code -->
              <div id="getCode"  style="display:none">
                  <div class="instructions">
                    Grab your phone and go to
                    <div class="website">dillo.cc</div>
                    now enter the following code
                    <div id="code">This code will be generated automatically</div>
                  </div>
              </div>

              <!-- This div will show the player's score -->
              <div id="score"  style="display:none">
                <div class="gameOver">Game Over <br/>
                  <span id="newScore"></span>
                </div>
                <div id="playAgain"></div>
              </div>

          </div>
      </section>

      <!-- This section contains the canvas and is visible when the game starts -->
      <section id="game"  style="display:none">
      </section>

      <!-- This section is visible on the mobile device -->
      <section id="player" style="display:none">
          <div class="rotateDevice">
            <div class="rotate"></div>
          </div>
          <div id="connect">
            <input type="number" placeholder="Enter code" id="input"/>
            <div id="join"></div>
          </div>
          <div id="controller"  style="display:none">
            <div class="joystickPad">
              <div id="joystick"></div>
            </div>
            <div id="button1"></div>
            <div id="button2"></div>
          </div>
      </section>

      <!-- load fastclick -->
      <script src="assets/js/fastclick.min.js"></script>

      <!-- load socket.io file -->
      <script src="/socket.io/socket.io.js"></script>

      <!-- load framework js file -->
      <script src="assets/js/armadillo.min.js"></script>

      <!-- load joystick file -->
      <script src="assets/js/joystick.js"></script>

      <!-- load controller js file -->
      <script src="assets/js/controller.min.js"></script>

      <!-- load Demo game -->
      <script src="demo/phaser.min.js"></script>
      <script src="demo/demo.js"></script>

  </body>
</html>
