@font-face {
    font-family: montague;
    src: url(fonts/Montague.ttf);
}
* {
  box-sizing: border-box;
}
body {
  margin:0;
  background:#000;
}
section {
  width:100vw;
  height:100vh;
  overflow: hidden;
}
h1 {
  color: transparent;
}
a {
  text-decoration: none;
}
#host {
  background: url('images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 550px;
}
.container {
  width:500px;
  margin:60px auto 0;
  height: 430px;
  background: url('images/imageSprite.png') 505px 0px;
  padding-top: 30px;
}
.logo {
  width: 400px;
  margin: 0 auto;
  height: 115px;
  background: url('images/imageSprite.png') -90px 0px;
}
/* #menu */
nav {
  width: 400px;
  margin:0 auto;
  padding-right: 32px;
  text-align: center;
}
ul {
  list-style: none;
  padding:0;
}
li > a, #play  {
  color:#603716;
  text-decoration: none;
  font-size: 2.3rem;
  font-family: montague;
}
.bulletHole {
  display: inline-block;
  opacity:0;
  transition:0.1s;
  width:27px;
  height:27px;
  margin-right:5px;
  background: url('images/imageSprite.png') 0px 0px;
}
li > a:hover .bulletHole {
  opacity:1;
}
/* #connect */
#connect {
  width:380px;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-35px;
  margin-left:-190px;
}
.instructions {
  font-family: montague;
  font-size: 1.5rem;
  margin-top: 40px;
  text-align: center;
  color: #603716;
}

.website {
  width:100%;
  font-size:2.2rem;
}
#code {
  width:100%;
  font-size:3rem;
}
/* #score */
#playAgain {
  width:280px;
  height:80px;
  margin:20px auto;
  background: url('images/imageSprite.png') -92px -115px;
  cursor: pointer;
}
.gameOver {
  color:#603716;
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
  font-family: montague;
}
#newScore {
  font-size: 2rem !important;
}
/* Controller */
#player {

  background: url('images/mobileBackground.png') no-repeat;
  background-size: 100% 100%;
  width:100vw;
  height:100vh;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
@media screen and (orientation: portrait) {
    .rotateDevice{
        position: fixed;
        z-index: 999;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: url('images/mobileBackground.png') no-repeat;
        background-size: 100% 100%;
    }
}
@media screen and (orientation: landscape) {
    .rotateDevice{
      display: none;
    }
}
.rotate {
  width:250px;
  height:250px;
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-125px;
  margin-top:-125px;
  background: url('images/imageSprite.png') -200px 247px;
}
input {
  font-size: 2.5em;
  text-align: center;
  font-family: montague;
  color:#7f4f1f;
  width:100%;
  background:none;
  border:none;
  outline:none;
  margin-bottom: 10px;
  float:left;
  width:280px;
  height:70px;
}
::-webkit-input-placeholder {
  font-family: montague;
  color:#7f4f1f;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: montague;
  color:#7f4f1f;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: montague;
   color:#7f4f1f;
}

:-ms-input-placeholder {
  font-family: montague;
  color:#7f4f1f;
}
#join {
  background: url('images/imageSprite.png') 0px -27px;
  width:80px;
  height:70px;
  margin-left:20px;
  float:left;

}
#controller {
  height:200px;
  width:84%;
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-42%;
  margin-top:-100px;
}
.joystickPad {
  width:200px;
  height:200px;
  background: url('images/imageSprite.png') 0px -258px;
  float:left;
}
#joystick {
  width:100px;
  height:100px;
  background: url('images/imageSprite.png') -392px -118px;
  position: absolute;
  margin-left:50px;
  margin-top:50px;
}
#button1 {
  width:80px;
  height:80px;
  background: url('images/imageSprite.png') 0px -97px;
  float:right;
  margin-top:20px;
}
#button2 {
  width:80px;
  height:80px;
  background: url('images/imageSprite.png') 0px -179px;
  float:right;
  margin-top:120px;
}
/* Canvas/Game */
#game {
  background:#b1701d;
}
canvas {
  width:1280px;
  height:680px;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-340px;
  margin-left:-640px;
}
